body{
    margin: 0;
    padding-top: 3rem;
    color:rgb(227, 222, 232);
    background-color: #1a1a2e;

}

header{
    text-align: center;
}

.search{
    display:flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.error{
    color:red;
    margin-top: 1rem;
}
.success{
    color:green;
    margin-top: 1rem;
}

#task-name{
    width: 20rem;
    height: 2rem;
}
#task-man-head{
    text-align: center;
}
#task-details{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.task-box{
    background-color:black;
    display:grid;
    grid-template-columns: auto 1fr auto;
    gap:1rem;
    width: 50%;
}
.task-box:hover {
    background-color: #f9f9f9;
    color:black;
    cursor: pointer;
}
.strikethrough {
    text-decoration: line-through;
    color: gray;
}
.submit{
    border:none;
    border-radius: 1rem;
    width: 5rem;
    height: 2rem;
    background-color: azure;
    cursor:pointer;
}

.submit:hover{
    background-color:rgb(171, 129, 212);
    
}
.hidden{
    display: none !important;
}

#logout{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#auth-modal{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#login-modal,
#signup-modal,
#task-details{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}
